$color-primary: #55c77a;        //#0b87ecd8//
$color-primary-light:#7ed56f;   //#26bd7efa//
$color-primary-dark:#28b485;    //#44baff//

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-grey-dark-1:#999;
$color-grey-dark-2:#333;

$color-white:#fff;
$color-black:#000;

$color-secondary:#ffb900;
$color-secondary-light:#ff7730;

$color-tertiary:#2998ff;
$color-tertiary-light:#5643fa;

$color-wrong:#ff6f69;


$default-font-size:1.6rem;


//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;